.home {
    background-color: rgba(207, 207, 207, 0.06);
    display: grid;

    justify-items: center;
    // align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.header {
    align-self: center;
}

.card {
    min-height: 736px;
    max-height: 994px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.06);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 1fr 50px;

    &__inputs {
        background-color: skyblue;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

        justify-items: center;
        align-items: center;
    }
}

.input {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    &__title {
        grid-column: input-s/input-e;
    }
    input {
        grid-column: input-s/input-e;
    }
    &__number {
        grid-column: number-s/number-e;
    }
}